<div class="container">
    <div class="pull-right pt-4 pb-4">
      <button (click)="add_post()" type="button" data-toggle="modal" data-target="#add-post-popup" class="btn btn-outline-primary">Add Post</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let post of postsJson" class="card mb-4">
              <div class="card-header text-muted">
              <div class="row col-md-12">
                  <div class="col-md-10"  >
                    {{ post.postedDate }}
                      <a href="">{{ post.postedBy }}</a>
                  </div>
                  <div class="col-md-2">
                      <a (click)="test()" data-toggle="modal" data-target="#edit-post-popup" class="btn btn-link">Edit</a>
                      <a (click)="delete_post(this)" class="btn btn-link">Delete</a>
                  </div>
              </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{ post.tittle }}</h2>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>