<div class="container">
    <div class="pull-right pt-4 pb-4">
      <button type="button" data-toggle="modal" data-target="#add-post-popup" class="btn btn-outline-primary">Add Post</button>
    </div>
      <div class="row">
          <!-- Blog entries-->
          <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-header text-muted">
                <div class="row col-md-12">
                    <div class="col-md-10"  >
                        Posted on January 1, 2021 by
                        <a href="">Start Bootstrap</a>
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="test()" data-toggle="modal" data-target="#add-post-popup" class="btn btn-link">Edit</button>
                        <button type="button" class="btn btn-link">Delete</button>
                    </div>
                </div>
                  </div>
                  <div class="card-body">
                      <h2 class="card-title">Post Title</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                  </div>
              </div>
              <div class="card mb-4">
                <div class="card-header text-muted">
                  Posted on January 1, 2021 by
                  <a href="#!">Start Bootstrap</a>
                </div>
                  <div class="card-body">
                      <h2 class="card-title">Post Title</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                  </div>
              </div>
              <div class="card mb-4">
                <div class="card-header text-muted">
                  Posted on January 1, 2021 by
                  <a href="#!">Start Bootstrap</a>
                </div>
                  <div class="card-body">
                      <h2 class="card-title">Post Title</h2>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                  </div>
              </div>
          </div>
      </div>
  </div>